<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivet Botánica</title>
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="/bota.ico">
    <!--Link al CSS-->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
   <div class="totalweb">
    <header>
        
        <div class="information">
            <p>Envíos en <span>24/48h</span></p>
            <p>Hasta <span>14 días</span> para devolución</p>
            <p>LLAMANOS <span><a href="tel:+34955819634">955819634</a></span> (lunes a viernes, 8:00-18:00)</p>
        </div>
      
      
        <div class="titlenav">
        
            <h1>Vivet Botánica</h1>
                                     <!--Creamos una barra de navegación simple-->
        
            <nav class="menu">
            
                <ul class="list">
                  
                    <li><a class="listelement active" href="/index.html">Inicio</a></li>
                    <li><a class="listelement" href="/views/productos.html">Galería</a></li>
                    <li><a class="listelement" href="/views/presupuesto.html">Presupuesto</a></li>
                    <li><a class="listelement" href="/views/contacto.html">Contáctanos</a></li>

                </ul>

            </nav>
        
        </div>
    
    </header>
    
    <section id="legal">


        <h2 id="warning">AVISO LEGAL</h2>
        
            <ol>
        
                   <li>El titular de este sitio web es MANUEL MAESTRE JIMÉNEZ, con N.I.F. 49172641Y, con domicilio en Calle Buenos Aires, 
                       83 - A, 41720 Los Palacios y Villafranca, Sevilla, España.</li>
               
                   <li>El acceso al site de MANUEL MAESTRE JIMÉNEZ es gratuito. 
                       Todo el contenido es propiedad intelectual de MANUEL MAESTRE JIMÉNEZ. 
                       Cualquier utilización de los mismos contraria a las normas en materia de propiedad intelectual 
                       será perseguida con arreglo a la legislación vigente.</li>
        
            </ol>


    </section>

    <footer>
        <div class="footercontainer">
          
            <div class="container2">
          
               <a href="#"><p>Ir arriba</p></a>
         
                 <p>/</p>
       
               <p>&copy;Vivet Botánica. Todos los derechos reservados</p>
        
                 <p>/</p>
        
               <a href="/views/avisolegal.html"><p>Aviso legal </p></a>
        
                 <p>/</p>
        
               <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" target="_blank"><p>Política de privacidad</p></a>

                <a href="https://www.instagram.com/?hl=es" target="_blank"><img class="social" src="/img/insta.png" alt="Instagram"></a>
                <a href="https://twitter.com/?lang=es" target="_blank"><img class="social" src="/img/x.png" alt="X"></a>
                <a href="https://es-es.facebook.com/" target="_blank"><img class="social" src="/img/facebook.png" alt="Facebook"></a>
          
            </div>
         
               <p>Av. de Andalucia, 250, 41702 Dos Hermanas, Sevilla</p>
        
        </div>
   
   </footer>
    </div>
</body>

</html>