<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivet Botánica</title>
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="/bota.ico">
    <!--Link al CSS-->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="totalweb">
        <header>
            <div class="information">
                <p>Envíos en <span>24/48h</span></p>
                <p>Hasta <span>14 días</span> para devolución</p>
                <p>LLAMANOS <span>955819634</span></p>
          </div>
          
          
          <div class="titlenav">
            
            <h1>Vivet Botánica</h1>
            <!--Creamos una barra de navegación simple-->
               <nav class="menu">
                
                   <ul class="list">
                      
                       <li><a class="listelement" href="/index.html">Inicio</a></li>
                       <li><a class="listelement " href="/views/productos.html">Galería</a></li>
                       <li><a class="listelement" href="/views/presupuesto.html">Presupuesto</a></li>
                       <li><a class="listelement active" href="#">Contáctanos</a></li>
    
                   </ul>
    
                </nav>
          
            </div>
        
          </header>
    
    <main>

        <div id="map">  <!--Insertamos un mapa de google para la localización de la empresa ( Localización ficticia )-->

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.487827931805!2d-5.923134323687289!3d37.266739641261374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1270ed59ca0fe1%3A0x3781797872527c59!2sAmeral!5e1!3m2!1ses!2ses!4v1730671046651!5m2!1ses!2ses" 
            width="600" height="450" style="border:0;" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <div id="datos">
         
                <ul>     <!-- Añadimos los datos de la empresa -->
                     
                    <li>
                        Dirección: Av. de Andalucia, 250, 41702 Dos Hermanas, Sevilla
                    </li>
                    <li>
                        Teléfono: 955819634
                    </li>
                    <li>
                        Correo eletrónico: vivetbotanica@gmail.com
                    </li>
                    <li>
                        Horarios: Lunes a viernes
                        <ul>
                             <li>8:00-14:00</li>
                             <li>15:00-18:00</li>
                             <li>Festivos: 8:00-13:00</li>
                        </ul>
                    
                    </li>
                </ul>
                
            </div>
        
        </div>

</main>
    
<footer>
    <div class="footercontainer">
      
        <div class="container2">
      
           <a href="#"><p>Ir arriba</p></a>
     
             <p>/</p>
   
           <p>&copy;Vivet Botánica. Todos los derechos reservados</p>
    
             <p>/</p>
    
           <a href="/views/avisolegal.html"><p>Aviso legal </p></a>
    
             <p>/</p>
    
           <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" target="_blank"><p>Política de privacidad</p></a>

            <a href="https://www.instagram.com/?hl=es" target="_blank"><img class="social" src="/img/insta.png" alt="Instagram"></a>
            <a href="https://twitter.com/?lang=es" target="_blank"><img class="social" src="/img/x.png" alt="X"></a>
            <a href="https://es-es.facebook.com/" target="_blank"><img class="social" src="/img/facebook.png" alt="Facebook"></a>
      
        </div>
     
           <p>Av. de Andalucia, 250, 41702 Dos Hermanas, Sevilla</p>
    
    </div>

</footer>
</div>
</body>
</html>